@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
     padding: 0;
     margin: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
     scroll-behavior: smooth;

}

body {
     width: 100%;
     height: 100vh;
     overflow-x: hidden;
     background-color: black;
}

nav {
     width: 100%;
     height: 10vh;
     position: fixed;
     left: 0;
     top: 0;
     background-color: rgba(255, 255, 255, 0.1);
     z-index: 2;
     backdrop-filter: blur(2px);

}

.nav-container {

     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.logo {
     color: white;
     font-size: 2rem;
     font-weight: bold;
}

.logo span {
     color: #077b32;
     text-shadow: 0 0 10px #077b32;
}

.hamburg,
.cancel {
     cursor: pointer;
     position: absolute;
     right: 15px;
     top: 10px;
     color: white;
     display: none;
     font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
     display: flex;
}

.nav-container .links a {
     position: relative;
     font-size: 1.2rem;
     color: white;
     margin: 0 20px;
     text-decoration: none;
     font-weight: 550;
     transition: 0.3s linear;
}

.nav-container .links a::before {
     position: absolute;
     content: "";
     bottom: -3px;
     left: 0;
     width: 0%;
     height: 3px;
     background-color: #077b32;
     transition: 0.2s linear;
}

.nav-container .links a:hover::before {
     width: 100%;
}

.nav-container .links a:hover {
     color: #077b32;
}

.dropdown {
     z-index: 100;
     position: absolute;
     top: 0;
     transform: translateY(-500px);
     width: 100%;
     height: auto;
     backdrop-filter: blur(4px) brightness(40%);
     box-shadow: 0 0 20px black;
     transition: 0.2s linear;
}

.dropdown .links a {
     display: flex;
     color: white;
     text-decoration: none;
     justify-content: center;
     padding: 15px 0;
     align-items: center;
     transition: 0.2s linear;
}

.dropdown .links a:hover {
     background-color: #077b32;
}

section {
     width: 100%;
     height: 90%;
}

.main-container {
     position: relative;
     top: 10vh;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.main-container .image {
     width: 500px;
     height: 70vh;
     border-radius: 100%;
     overflow: hidden;
     box-shadow: 0 10px 20px #077b32;
}

.main-container .image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: 0.2s linear;
}

.main-container .image:hover {
     animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
     0% {
          scale: 1;
     }

     50% {
          scale: 1.05;
     }

     100% {
          scale: 1;
     }
}

.main-container .content {
     color: white;
     width: 40%;
     min-height: 100px;
}

.content h1 {
     font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
     color: #077b32;
     text-shadow: 0 0 10px #077b32;
}

.content .typewriter {
     font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
     font-weight: 600;
}

.content .typewriter-text {
     color: #077b32;
     text-shadow: 0 0 10px #077b32;
}

.content p {
     font-size: 19px;
     margin: 10px 0;
}

.social-links i {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 3rem;
     height: 3rem;
     background-color: transparent;
     border: 0.2rem solid #077b32;
     border-radius: 50%;
     color: #077b32;
     margin: 5px 15px;
     font-size: 1.5rem;
     transition: 0.2s linear;
}

.social-links i:hover {
     scale: 1.3;
     color: black;
     background-color: #077b32;
     filter: drop-shadow(0 0 10px #077b32);
}

.content button {
     width: 50%;
     height: 6vh;
     margin: 30px;
     background-color: #077b32;
     color: white;
     border: none;
     outline: none;
     font-size: 120%;
     font-weight: 700;
     border-radius: 5px;
     transition: 0.2s linear;
}

.content button:hover {
     scale: 1.1;
     color: #077b32;
     border: 2px solid #077b32;
     background-color: transparent;
     font-weight: 700;
     box-shadow: 0 0 40px #077b32;
}



#Skills,
#project,
#Contact {
     position: relative;
     margin-top: 10vh;
     height: 130vh;
     width: 100vw;
     color: rgb(255, 252, 252);
     /* border: 2px white solid; */
}

.box {
     width: 100vw;
     /* top: 20vh; */
     color: white;
     height: 120vh;
}

#Skills,
#project,
#Contact>h1 {
     position: relative;
     top: 10vh;
     text-align: center;

}

.h1 {

     width: fit-content;
     margin: 0 auto;
     position: relative;

}

.h1:hover {
     color: #10833a;
}

.lang {
     position: relative;

     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-evenly;
     height: auto;
     width: 40%;

     /* border: 1px solid white; */
}

.lang span {
     display: flex;
     position: relative;
     /* top: 20px; */
     left: 20px;
     /* border: 1px solid white; */
     width: 70%;
     flex-direction: column;
     background-color: #918d8d;
     align-items: start;
     height: 2vh;

}

span .load {
     /* border: 1px saddlebrown solid; */
     position: relative;

     width: 30vw;
     height: 2vh;
     border-radius: 10px;
     background-color: rgb(22, 180, 70);
}

.color {
     height: 10px;
     width: 20vw;
     background-color: green;
     z-index: 5;
     border-radius: 5px;
}


.lang img {
     position: relative;
     left: 0;
     height: 100px;
     width: 100px;
}

#langCont {
     gap: 60px;
     display: flex;
     position: relative;

     flex-wrap: wrap;
     width: 100%;
     justify-content: space-evenly;
     overflow: hidden;
     align-items: center;

}

#lang1::after {
     content: "90%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang2::after {
     content: "83%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang3::after {
     content: "60%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang4::after {
     content: "98%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang5::after {
     content: "90%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang6::after {
     content: "89%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang7::after {
     content: "77%";
     position: absolute;
     top: -5px;
     left: 102%;
}

#lang8::after {
     content: "50%";
     position: absolute;
     top: -5px;
     left: 102%;
}

@media (max-width:600px) {

     nav .logo {
          position: absolute;
          top: 16px;
          left: 15px;
          font-size: 1.5rem;
     }

     .content {
          overflow-wrap: anywhere;
     }

     .main-container {
          display: flex;
          flex-direction: column;
     }

     .content p {
          font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
          margin: 10px 0;
     }

     .nav-container .links {
          display: none;
     }

     .hamburg,
     .cancel {
          display: block;
     }

     .main-container .content {
          width: 80%;
     }

     .social-links i {
          width: 2.5rem;
          height: 2.5rem;
          font-size: 1.5rem;
     }

     .main-container .image {
          z-index: -1;
          width: 70%;
          height: 50%;
     }

     .h1 {
          margin-top: 200px;
     }

     #langCont {


          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /* border: 1px solid rgb(191, 69, 69); */
          gap: 30px;
     }

     #flex {

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /* height: 100vh; */
          /* width: 100vw; */
          color: white;
          /* border: 2px white solid; */
     }

     .lang {
          /* border: 1px solid rgb(127, 18, 91); */
          position: relative;
          margin-top: 4vh;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 80%;

          align-items: center;
     }

     .lang span {
          display: block;
          flex-direction: column;
          align-items: start;
          /* border: 1px solid pink; */
          border-radius: 5px;
          width: 50%;
          height: 2vh;
          background-color: rgb(225, 234, 232);
     }

     span .load {
          /* border: 1px saddlebrown solid; */
          position: relative;

          width: 30vw;
          height: 2vh;
          border-radius: 5px;
          background-color: rgb(19, 160, 62);
     }

     .lang img {
          height: 50px;
          width: 50px;
     }

     #form {

          display: flex;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: space-around;
          margin: 20vh auto;
          width: 80vw;
          /* border: 1px solid white; */
          /* border: 1px solid white;   */
          height: 120vh;
     }




     .lang img {
          height: 50px;
          width: 50px;
     }

     form input,
     textarea,
     button {

          width: 100%;
     }

     #project {
          height: max-content;
          display: flex;
          /* border: 1px solid pink; */
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 120vh;
          box-sizing: border-box;

     }


     #project #Projects {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          position: relative;

          height: auto;
          width: 80%;
          /* border: 1px solid white; */
          padding: 5vh 1vw;
          box-shadow: 0 0 20px 25px #fdfdfd;
          background-color: white;
          color: rgb(7, 0, 0);
          border-radius: 20px;
     }

     #project img {
          border-radius: 50%;
          box-shadow: 0 0 19px 30px rgb(0, 0, 0);
     }

     form textarea {
          font-size: 1rem;
          padding: 5px;
          height: 7vh;
          width: 100%;
          outline: none;
     }

     #Contact {
          position: relative;
          margin-top: 20vh;
          /* border: 5px solid rgba(105, 28, 28, 0); */
     }

     #lang1::after {
          content: "90%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang2::after {
          content: "83%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang3::after {
          content: "60%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang4::after {
          content: "98%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang5::after {
          content: "90%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang6::after {
          content: "89%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang7::after {
          content: "77%";
          position: absolute;
          top: -5px;
          left: 102%;
     }

     #lang8::after {
          content: "50%";
          position: absolute;
          top: -5px;
          left: 102%;

     }


     #Contact {
          /* border: 1px saddlebrown solid; */
          height: auto;
          position: relative;
          top: 30vh;
     }
}


#Projects {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     position: relative;
     top: 10vh;
     margin: auto;
     height: 100vh;
     width: 50%;
     /* border: 1px solid white; */
     padding: 5vh 5vw;
     box-shadow: 0 0 20px 25px #fdfdfd;
     background-color: white;
     color: rgb(0, 0, 0);
     border-radius: 20px;
     font-size: 1.2rem;
}

#project img {
     border-radius: 50%;
     box-shadow: 0 0 9px 10px rgb(252, 252, 252);
}

#Contact {
     margin-top: 10vh;
     /* border: 1px solid white; */
}

#form {
     display: flex;
     justify-content: space-between;
     padding: 50px 0;
     align-items: center;
     margin: 20vh auto;
     width: 80vw;
     /* border: 1px solid white; */
}

form {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     height: 50vh;
     /* border: 1px solid white; */
}

form input,
button {
     width: 100%;
     height: 6vh;
     margin: 10px 0;
     /* border: 1px solid white; */
     border-radius: 5px;
     padding: 5px;
     outline: none;
     font-size: 1rem;
}

textarea {
     font-size: 1rem;
     padding: 5px;
     height: 7vh;
     width: 20vw;
     outline: none;
}

#social {
     height: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     padding: 20px;
     border-radius: 20px;
     transition: all 1s;
}

#social:hover {
     box-shadow: 0 0 20px 10px #077b32;
     animation: animate 1.5s ease-in-out infinite;
     transform: scale(1.1);

}
